.validation {
    text-align: center;
    color: #b66dff;
    font-size: 30px;

    i {
        font-size: 40px;
        margin-left: 40px;
        margin-right: 40px;
    }
}

.description {
    text-align: center;
    font-size: 18px;
}

.terminer {
    padding-left: 80px !important;
    padding-right: 80px !important;
}